%leftRight {
  margin-left: 16px;
  margin-right: 16px;
}

%topBottom {
  margin: 1em 0em;
}

%footerLeft {
  margin-right: 24px;
  margin-left: 24px;
}

body {
  font-family: Avenir;
  margin: 0px;
}